@font-face {
  font-family: 'iconfont';  /* project id 700262 */
  src: url('//at.alicdn.com/t/font_700262_br7sp0umbec.eot');
  src: url('//at.alicdn.com/t/font_700262_br7sp0umbec.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_700262_br7sp0umbec.woff') format('woff'),
  url('//at.alicdn.com/t/font_700262_br7sp0umbec.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_700262_br7sp0umbec.svg#iconfont') format('svg');
}
.icon-font{
  font-family: 'iconfont';
}
