//全局颜色

$c-head: #e71d32;

$c-btn: #e71d32;

$c-active: #e71d32;

$c-white: #FFF;

$c-list-m: #5e6c77;
$c-list-p: #c2c8cc;
$c-list-d: #919699;
//处理中
$c-list-clz: #268ed0;
//使用中
$c-list-syz: #383838;
//已关闭
$c-list-ygb: #383838;
//预期
$c-list-yyq: #e71d32;
//正常
$c-list-zc: #919699;
$c-c4: #ffc7c4;
$c-4a: #e71d32;
$c-border: #ececec;
$c-99: #919699;
$c-6c: #5e6c77;
$c-cc: #c2c8cc;
$c-7cc: #c2c7cc;
$c-64b: #e71d32;
$c-585: #858585;
$c-ed0: #268ed0;
$c-8cd: #c1c8cd;







