  .loading-ct{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;            
    align-items:center;
    justify-content:center;
  }

  .loading-wrapper{
    width:150px;
    height: 115px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
  }

  .loadEffect{
   margin-top:10px;
    text-align:center;
  }
  .loading-text{
  margin-top:-15px;   
    font-size:15px;
    text-align: center;
    color:#ffffff;
  }


.loadEffect div{
  display:inline-block;
  margin:0 auto;
}

 